<!DOCTYPE html>
<html lang="en">

<head>
    <title>T.LY: World's Shortest URL Shortener</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
    <link rel="icon" href="{{ url_for('static', filename='img/tly-high-resolution-favicon.png') }}" type="image/png"
          sizes="32x32">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-sm">
        <a class="navbar-brand" href="">
            <img src="{{ url_for('static', filename='img/tly-high-resolution-logo.png') }}" height="35" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Products
                    </a>
                    <ul class="dropdown-menu py-2" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item py-3" href="#"><i class="fa-solid fa-link"></i> Link Management</a>
                        </li>
                        <li><a class="dropdown-item py-3" href="#"><i class="fa-solid fa-square-arrow-up-right"></i>
                            OneLinks</a>
                        </li>
                        <li><a class="dropdown-item py-3" href="#"><i class="fa-solid fa-qrcode"></i> QR Code Generator</a>
                        </li>
                        <li><a class="dropdown-item py-3" href="#"><i class="fa-brands fa-chrome"></i> Link Shortener
                            Extension</a></li>
                        <li><a class="dropdown-item py-3" href="#"><i class="fa-solid fa-image"></i> Screenshot Website</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Resources
                    </a>
                    <ul class="dropdown-menu py-2" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item py-3" href="#"><i class="fa-solid fa-rss"></i> Blog</a></li>
                        <li><a class="dropdown-item py-3" href="#"><i class="fa-solid fa-chevron-right"></i><b>_</b> API
                            Documentation</a></li>
                        <li><a class="dropdown-item py-3" href="#"><i class="fa-solid fa-circle-question"></i>
                            Frequently Asked
                            Questions</a></li>
                        <li><a class="dropdown-item py-3" href="#"><i class="fa-solid fa-handshake"></i> Affiliate
                            Program</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Comparisons
                    </a>
                    <ul class="dropdown-menu py-2" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item py-3" href="#"><i class="fa-solid fa-plus"></i> T.LY vs Bitly</a>
                        </li>
                        <li><a class="dropdown-item py-3" href="#"><i class="fa-solid fa-link"></i> Bitly
                            Alternatives</a></li>
                        <li><a class="dropdown-item py-3" href="#"><i class="fa-brands fa-google"></i> Google URL
                            Shortener
                            Alternatives</a></li>
                        <li><a class="dropdown-item py-3" href="#"><i class="fa-solid fa-compress"></i> T.LY vs TinyURL</a>
                        </li>
                        <li><a class="dropdown-item py-3" href="#"><i class="fa-solid fa-list-ul"></i> Best URL
                            Shortener API</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <a href=""
               class="link-light link-opacity-50-hover link-underline-opacity-50-hover link-underline-opacity-0">Login</a>
            <button type="button" class="btn btn-warning ms-3">Sign Up</button>
        </div>
    </div>
</nav>
<div class="container d-grid gap-5 mt-4">
    <div class="row">
        <div class="col-6 offset-3 text-center align-items-center">
            <h1><b>Create Short URLs</b></h1>
            <p class="lead">T.LY is the World's Shortest Link Shortener service to track, brand, and share short
                URLs.</p>
            <a href="" type="button" class="btn btn-warning btn-lg">Get Started</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-8 offset-2">
            <div class="input-group input-group-lg shadow-lg">
                <input type="text" class="form-control" placeholder="Enter a link to shorten it">
                <button class="btn btn-dark" type="button">Shorten URL <i class="fa-solid fa-chevron-right"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4 text-center">
            <i class="fa-solid fa-down-left-and-up-right-to-center fa-5x"></i>
            <h2><b>Shorten URLs</b></h2>
            <p>T.LY URL Shortener makes long links look cleaner and easier to share! Add your own <a href=""
                                                                                                     class="link-warning link-opacity-75-hover link-underline-opacity-75-hover link-underline-opacity-0">Custom
                Domains</a> to personalize your brand! Over 20 million monthly visitors trust T.LY. Easily create
                trackable
                QR Codes.</p>
        </div>
        <div class="col-4 text-center">
            <i class="fa-solid fa-chart-line fa-5x"></i>
            <h2><b>Track Link Clicks</b></h2>
            <p>With over 40 million links shortened and tracked over 1 billion clicks, T.LY lets you know where users
                are
                coming from and is a click counter tool to <a href=""
                                                              class="link-warning link-opacity-75-hover link-underline-opacity-75-hover link-underline-opacity-0">track
                    link analytics</a>. Just add a + at the end of any short URL to see statistics.</p>
        </div>
        <div class="col-4 text-center">
            <i class="fa-brands fa-chrome fa-5x"></i>
            <h2><b>Browser Extension</b></h2>
            <p>Install our free <a href=""
                                   class="link-warning link-opacity-75-hover link-underline-opacity-75-hover link-underline-opacity-0">Browser
                Extension</a> with over 450,000 users from the extension store to automatically shorten links in one
                easy
                click! We support Chrome, Firefox, Edge and Opera.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="bg-secondary-subtle text-center py-3 rounded">
                <p class="mb-0">Looking for API access? <a href=""
                                                           class="link-warning link-opacity-75-hover link-underline-opacity-75-hover link-underline-opacity-0">Sign
                    Up
                    Here</a></p>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="mb-3"><b>Upgrade Your Short URLs</b></h2>
        </div>
        <div class="col-4 d-flex justify-content-end">
            <div class="card w-75 shadow-sm">
                <div class="card-header bg-dark text-light d-flex align-items-center py-1">
                    <div class="mb-0 text-uppercase"><span class="fs-3 text-start">hobby</span></div>
                    <div class="ms-auto"><span class="fw-bold fs-3">$5</span>/Month</div>
                </div>
                <div class="px-3 py-2 bg-body-secondary">5-day Free Trial ($50 annually)</div>
                <div class="card-body bg-body-secondary pt-0 d-grid">
                    <ul class="list-unstyled m-0 p-0">
                        <li class="d-flex align-items-center mb-2"><i
                                class="fa-solid fa-arrow-down-short-wide mx-2"></i>500
                            Monthly Short Links
                        </li>
                        <li class="d-flex align-items-center mb-2"><i class="fa-solid fa-arrow-turn-up mx-2"></i>Unlimited
                            Clicks
                        </li>
                        <li class="d-flex align-items-center mb-2"><i class="fa-solid fa-chart-bar mx-2"></i>Advanced
                            Link
                            Analytics
                        </li>
                        <li class="d-flex align-items-center mb-2"><i class="fa-solid fa-qrcode mx-2"></i>Trackable QR
                            Codes
                        </li>
                        <li class="d-flex align-items-center mb-2"><i class="fa-solid fa-sitemap mx-2"></i>Custom
                            Domains with SSL
                        </li>
                        <li class="d-flex align-items-center mb-2"><i class="fa-solid fa-link mx-2"></i>Smart URLs</li>
                        <li class="d-flex align-items-center mb-2"><i class="fa-solid fa-angle-right ms-2"></i><b
                                class="me-2">_</b> API Access
                        </li>
                        <li class="d-flex align-items-center mb-2"><i
                                class="fa-solid fa-square-arrow-up-right mx-2"></i>OneLinks
                        </li>
                        <li class="d-flex align-items-center mb-2"><i class="fa-solid fa-chart-line mx-2"></i>Private
                            Stats
                        </li>
                        <li class="d-flex align-items-center mb-2"><i class="fa-regular fa-circle-dot mx-2"></i>Link
                            Retargeting
                        </li>
                        <li class="d-flex align-items-center mb-2">&nbsp;</li>
                        <li class="d-flex align-items-center mb-2">&nbsp;</li>
                    </ul>
                    <a href="" type="button" class="btn btn-warning">Sign Up</a>
                </div>
            </div>
        </div>
        <div class="col-4 d-flex justify-content-center">
            <div class="card w-75 shadow-sm">
                <div class="card-header bg-dark text-light d-flex align-items-center py-1">
                    <div class="mb-0 text-uppercase"><span class="fs-3 text-start">basic</span></div>
                    <div class="ms-auto"><span class="fw-bold fs-3">$20</span>/Month</div>
                </div>
                <div class="px-3 py-2 bg-body-secondary">5-day Free Trial</div>
                <div class="card-body bg-body-secondary pt-0 d-grid">
                    <ul class="list-unstyled m-0 p-0">
                        <li class="d-flex align-items-center mb-2"><i
                                class="fa-solid fa-arrow-down-short-wide mx-2"></i><b>4000
                            Monthly Short Links</b></li>
                        <li class="d-flex align-items-center mb-2"><i class="fa-solid fa-arrow-turn-up mx-2"></i>Unlimited
                            Clicks
                        </li>
                        <li class="d-flex align-items-center mb-2"><i class="fa-solid fa-chart-bar mx-2"></i>Advanced
                            Link
                            Analytics
                        </li>
                        <li class="d-flex align-items-center mb-2"><i class="fa-solid fa-qrcode mx-2"></i>Trackable QR
                            Codes
                        </li>
                        <li class="d-flex align-items-center mb-2"><i class="fa-solid fa-sitemap mx-2"></i>Custom
                            Domains with SSL
                        </li>
                        <li class="d-flex align-items-center mb-2"><i class="fa-solid fa-link mx-2"></i>Smart URLs</li>
                        <li class="d-flex align-items-center mb-2"><i class="fa-solid fa-angle-right ms-2"></i><b
                                class="me-2">_</b>API Access
                        </li>
                        <li class="d-flex align-items-center mb-2"><i
                                class="fa-solid fa-square-arrow-up-right mx-2"></i>OneLinks
                        </li>
                        <li class="d-flex align-items-center mb-2"><i class="fa-solid fa-chart-line mx-2"></i>Private
                            Stats
                        </li>
                        <li class="d-flex align-items-center mb-2y"><i class="fa-regular fa-circle-dot mx-2"></i>Link
                            Retargeting
                        </li>
                        <li class="d-flex align-items-center mb-2">&nbsp;</li>
                        <li class="d-flex align-items-center mb-2">&nbsp;</li>
                    </ul>
                    <a href="" type="button" class="btn btn-warning">Sign Up</a>
                </div>
            </div>
        </div>
        <div class="col-4 d-flex justify-content-start">
            <div class="card w-75 shadow-sm">
                <div class="card-header bg-dark text-light d-flex align-items-center py-1">
                    <div class="mb-0 text-uppercase"><span class="fs-3 text-start">pro</span></div>
                    <div class="ms-auto"><span class="fw-bold fs-3">$50</span>/Month</div>
                </div>
                <div class="px-3 py-2 bg-body-secondary">5-day Free Trial</div>
                <div class="card-body bg-body-secondary pt-0 d-grid">
                    <ul class="list-unstyled m-0 p-0">
                        <li class="d-flex align-items-center mb-2"><i
                                class="fa-solid fa-arrow-down-short-wide mx-2"></i><b>10000
                            Monthly Short Links</b></li>
                        <li class="d-flex align-items-center mb-2"><i class="fa-solid fa-users mx-2"></i><b>Teams</b>
                        </li>
                        <li class="d-flex align-items-center mb-2"><i class="fa-regular fa-circle-xmark mx-2"></i><b>Priority
                            Support</b></li>
                        <li class="d-flex align-items-center mb-2"><i class="fa-solid fa-arrow-turn-up mx-2"></i>Unlimited
                            Clicks
                        </li>
                        <li class="d-flex align-items-center mb-2"><i class="fa-solid fa-chart-bar mx-2"></i>Advanced
                            Link
                            Analytics
                        </li>
                        <li class="d-flex align-items-center mb-2"><i class="fa-solid fa-qrcode mx-2"></i>Trackable QR
                            Codes
                        </li>
                        <li class="d-flex align-items-center mb-2"><i class="fa-solid fa-sitemap mx-2"></i>Custom
                            Domains with SSL
                        </li>
                        <li class="d-flex align-items-center mb-2"><i class="fa-solid fa-link mx-2"></i>Smart URLs</li>
                        <li class="d-flex align-items-center mb-2"><i class="fa-solid fa-angle-right ms-2"></i><b
                                class="me-2">_</b>API Access
                        </li>
                        <li class="d-flex align-items-center mb-2"><i
                                class="fa-solid fa-square-arrow-up-right mx-2"></i>OneLinks
                        </li>
                        <li class="d-flex align-items-center mb-2"><i class="fa-solid fa-chart-line mx-2"></i>Private
                            Stats
                        </li>
                        <li class="d-flex align-items-center mb-2"><i class="fa-regular fa-circle-dot mx-2"></i>Link
                            Retargeting
                        </li>
                    </ul>
                    <a href="" type="button" class="btn btn-warning">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="bg-secondary-subtle text-center py-3 rounded">
                <p class="m-0">Need a larger plan with teams? <a href=""
                                                                 class="link-warning link-opacity-75-hover link-underline-opacity-75-hover link-underline-opacity-0">Contact
                    us
                </a>and we will tailor a solution to meet your needs!</p>
            </div>
        </div>
    </div>
</div>
<div class="bg-dark border-warning border-top border-bottom py-5 text-light mt-5">
    <div class="container">
        <div class="row">
            <div class="col-8 mx-auto text-center">
                <h3 class="mb-3">Looking to ADD your own custom domain?</h3>
                <a href="" type="button" class="btn btn-warning">Get Started</a>
            </div>
        </div>
    </div>
</div>
<div class="container d-grid gap-5">
    <hr class="mt-5">
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="mb-3">Recent Blog Posts</h2>
        </div>
        <div class="col-4 d-flex justify-content-end">
            <div class="card w-75 border-bottom-0 border-start-0 border-end-0 card-hover">
                <a href="" class="stretched-link link-dark link-underline-opacity-75-hover link-underline-opacity-0">
                    <img src="{{ url_for('static', filename='img/Best-URL-Shortener.jpg') }}"
                         class="card-img-top img-size" alt="">
                    <div class="card-body border-top-0 border-start border-end border-bottom shadow-sm bg-body-secondary">
                        <h4 class="card-title"><b>Best URL Shortener</b></h4>
                        <p class="card-text mb-3">As a marketer, the ability to create short links for your content
                            and campaigns
                            is an essential part of staying competitive in today's digital landscape. One great tool
                            for this is
                            T.LY - the best URL Shortener on the market that helps you save time, simplify workflow
                            and increase
                            efficiency. With just a few clicks, you can turn any long URL into a shortened version
                            that l...</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-4 d-flex justify-content-center">
            <div class="card w-75 border-bottom-0 border-start-0 border-end-0 card-hover">
                <a href="" class="stretched-link link-dark link-underline-opacity-75-hover link-underline-opacity-0">
                    <img src="{{ url_for('static', filename='img/How-to-Create-a-Tiny-URL.jpg') }}"
                         class="card-img-top img-size" alt="">
                    <div class="card-body border-top-0 border-start border-end border-bottom shadow-sm bg-body-secondary">
                        <h4 class="card-title"><b>How to Create a Short Url</b></h4>
                        <p class="card-text">Are you a marketer looking for an easy and effective way to make your
                            link short,
                            memorable, and sharable? Look no further than the world of short URLs. With their
                            simple-to-create
                            formats and ability to easily fit into text messages or email subject lines, short URLs
                            are becoming
                            increasingly popular among marketers who want quick access to the meaty information in
                            long w...</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-4 d-flex justify-content-start">
            <div class="card w-75 border-bottom-0 border-start-0 border-end-0 card-hover">
                <a href="" class="stretched-link link-dark link-underline-opacity-75-hover link-underline-opacity-0">
                    <img src="{{ url_for('static', filename='img/What-is-a-Url-Shortener-1.jpg') }}"
                         class="card-img-top img-size" alt="">
                    <div class="card-body border-top-0 border-start border-end border-bottom shadow-sm bg-body-secondary">
                        <h4 class="card-title"><b>What is a Url Shortener?</b></h4>
                        <p class="card-text">If you've ever seen a link that's been shortened using a service like
                            T.LY, TinyURL,
                            Firebase Dynamic Links, or Goo.gl, you may wonder what a link shortener is and how it
                            works. A URL
                            shortener is a tool that can take a long, complex URL and turn it into a much shorter
                            link that is easy
                            to share. This can be useful when sharing links on social media, SMS, or email,
                            especia...</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-4 d-flex justify-content-end">
            <div class="card w-75 mt-4 border-bottom-0 border-start-0 border-end-0 card-hover">
                <a href="" class="stretched-link link-dark link-underline-opacity-75-hover link-underline-opacity-0">
                    <img src="{{ url_for('static', filename='img/The-Hidden-Benefits-Of-Using-a-Link-Shortener.jpg') }}"
                         class="card-img-top img-size"
                         alt="">
                    <div class="card-body border-top-0 border-start border-end border-bottom shadow-sm bg-body-secondary">
                        <h4 class="card-title"><b>The Hidden Benefits Of Using a Link Shortener</b></h4>
                        <p class="card-text mb-3">Do you use a link shortener when sharing links online? If not, you
                            could be
                            missing out on some hidden benefits. Link shorteners can help improve click-through
                            rates, track link
                            activity, and more. This post will explore some of the little-known advantages of using
                            a URL shortener.
                            So if you're not already using one, read on to learn more about how it can benefit your
                            mark...</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-4 d-flex justify-content-center">
            <div class="card w-75 mt-4 border-bottom-0 border-start-0 border-end-0 card-hover">
                <a href="" class="stretched-link link-dark link-underline-opacity-75-hover link-underline-opacity-0">
                    <img src="{{ url_for('static', filename='img/URL-Shortener-API.jpg') }}"
                         class="card-img-top img-size" height="40%" alt="">
                    <div class="card-body border-top-0 border-start border-end border-bottom shadow-sm bg-body-secondary">
                        <h4 class="card-title"><b>Best URL Shortener API</b></h4>
                        <p class="card-text">A URL shortener API can be an extremely useful tool for businesses and
                            website
                            owners. Using a URL shortener API, you can shorten long and complex URLs into shorter,
                            more manageable
                            ones. This can be helpful in a number of ways. First, it can make it easier for people
                            to remember your
                            website's URL. Second, it can help to improve your click-through rates, as shorter URLs
                            a...</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-4 d-flex justify-content-start">
            <div class="card w-75 mt-4 border-bottom-0 border-start-0 border-end-0 card-hover">
                <a href="" class="stretched-link link-dark link-underline-opacity-75-hover link-underline-opacity-0">
                    <img src="{{ url_for('static', filename='img/How-do-I-shorten-a-URL-for-free.jpg') }}"
                         class="card-img-top img-hover img-size"
                         alt=""
                         height="40%">
                    <div class="card-body border-top-0 border-start border-end border-bottom shadow-sm bg-body-secondary">
                        <h4 class="card-title"><b>How do I shorten a URL for free?</b></h4>
                        <p class="card-text">Back in 2018, Google shut down its URL Shortener service, but users are
                            still looking
                            for the perfect replacement for this simple URL shortener service. With so many options
                            available, it's
                            hard not to filter down and find the best alternative to goo.gl. T.LY is the best link
                            management
                            service to track, brand, and share short URLs. T.LY offers the ability to create the
                            sh...</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="bg-dark border-warning border-top border-bottom py-5 mt-5 text-light">
    <div class="container">
        <div class="row">
            <div class="col-8 mx-auto text-center">
                <h3 class="mb-3">Looking for MORE than a Free URL Shortener?</h3>
                <a href="" class="btn btn-warning">Get Started</a>
            </div>
        </div>
    </div>
</div>
<footer class="footer bg-dark py-4 mt-2">
    <div class="container">
        <div class="row">
            <div class="col-4 text-light">
                <h4>Features</h4>
                <ul class="list-unstyled mb-0">
                    <li class="pb-2"><a href=""
                                        class="link-light link-underline-opacity-75-hover link-underline-opacity-0">Extension</a>
                    </li>
                    <li class="pb-2"><a href=""
                                        class="link-light link-underline-opacity-75-hover link-underline-opacity-0">API
                        Docs</a></li>
                    <li class="pb-2"><a href=""
                                        class="link-light link-underline-opacity-75-hover link-underline-opacity-0">OR
                        Code Generator</a></li>
                    <li class="pb-2"><a href=""
                                        class="link-light link-underline-opacity-75-hover link-underline-opacity-0">Tools</a>
                    </li>
                    <li class="pb-2"><a href=""
                                        class="link-light link-underline-opacity-75-hover link-underline-opacity-0">Sign
                        Up</a></li>
                </ul>
            </div>
            <div class="col-4 text-light">
                <h4>Resources</h4>
                <ul class="list-unstyled mb-0">
                    <li class="pb-2"><a href=""
                                        class="link-light link-underline-opacity-75-hover link-underline-opacity-0">Report
                        Link</a></li>
                    <li class="pb-2"><a href=""
                                        class="link-light link-underline-opacity-75-hover link-underline-opacity-0">FAQ</a>
                    </li>
                    <li class="pb-2"><a href=""
                                        class="link-light link-underline-opacity-75-hover link-underline-opacity-0">Affiliates</a>
                    </li>
                    <li class="pb-2"><a href=""
                                        class="link-light link-underline-opacity-75-hover link-underline-opacity-0">Privacy</a>
                    </li>
                    <li class="pb-2"><a href=""
                                        class="link-light link-underline-opacity-75-hover link-underline-opacity-0">Terms</a>
                    </li>
                </ul>
            </div>
            <div class="col-4 text-light">
                <h4>Company</h4>
                <ul class="list-unstyled mb-0">
                    <li class="pb-2"><a href=""
                                        class="link-light link-underline-opacity-75-hover link-underline-opacity-0">About</a>
                    </li>
                    <li class="pb-2"><a href=""
                                        class="link-light link-underline-opacity-75-hover link-underline-opacity-0">Blog</a>
                    </li>
                    <li class="pb-2"><a href=""
                                        class="link-light link-underline-opacity-75-hover link-underline-opacity-0">Contact</a>
                    </li>
                    <li class="pb-2"><a href=""
                                        class="link-light link-underline-opacity-75-hover link-underline-opacity-0">Twitter</a>
                    </li>
                    <li class="pb-2"><a href=""
                                        class="link-light link-underline-opacity-75-hover link-underline-opacity-0">Facebook</a>
                    </li>
                    <li class="pb-2"><a href=""
                                        class="link-light link-underline-opacity-75-hover link-underline-opacity-0">LinkedIn</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<script src="https://kit.fontawesome.com/f3d396c665.js" crossorigin="anonymous"></script>
</body>

</html>