<!DOCTYPE html>
<html lang="en">
<head>
    <title>Recommended Tools - T.LY</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
    <link rel="icon" href="{{ url_for('static', filename='img/tly-high-resolution-favicon.png') }}" type="image/png"
          sizes="32x32">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-sm">
        <a class="navbar-brand" href="/">
            <img src="{{ url_for('static', filename='img/tly-high-resolution-logo.png') }}" height="35" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">Products</a>
                    <ul class="dropdown-menu py-2" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item py-3" href="/products/link-management"><i
                                class="fa-solid fa-link"></i> Link Management</a></li>
                        <li><a class="dropdown-item py-3" href="/products/one-links"><i
                                class="fa-solid fa-square-arrow-up-right"></i>OneLinks</a></li>
                        <li><a class="dropdown-item py-3" href="#"><i class="fa-solid fa-qrcode"></i> QR Code Generator</a>
                        </li>
                        <li><a class="dropdown-item py-3" href="https://t.ly/extension"><i
                                class="fa-brands fa-chrome"></i> Link Shortener Extension</a></li>
                        <li><a class="dropdown-item py-3" href="/tools/screenshot-website"><i
                                class="fa-solid fa-image"></i> Screenshot Website</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">Resources</a>
                    <ul class="dropdown-menu py-2" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item py-3" href="/blog"><i class="fa-solid fa-rss"></i> Blog</a></li>
                        <li><a class="dropdown-item py-3" href="#"><i class="fa-solid fa-chevron-right"></i><b>_</b>API
                            Documentation</a></li>
                        <li><a class="dropdown-item py-3" href="/faq"><i class="fa-solid fa-circle-question"></i>Frequently
                            Asked Questions</a></li>
                        <li><a class="dropdown-item py-3" href="/affiliates"><i class="fa-solid fa-handshake"></i>Affiliate
                            Program</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">Comparisons</a>
                    <ul class="dropdown-menu py-2" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item py-3" href="#"><i class="fa-solid fa-plus"></i> T.LY vs Bitly</a>
                        </li>
                        <li><a class="dropdown-item py-3" href="#"><i class="fa-solid fa-link"></i> Bitly
                            Alternatives</a></li>
                        <li><a class="dropdown-item py-3" href="#"><i class="fa-brands fa-google"></i> Google URL
                            Shortener Alternatives</a></li>
                        <li><a class="dropdown-item py-3" href="#"><i class="fa-solid fa-compress"></i> T.LY vs TinyURL</a>
                        </li>
                        <li><a class="dropdown-item py-3" href="#"><i class="fa-solid fa-list-ul"></i> Best URL
                            Shortener API</a></li>
                    </ul>
                </li>
            </ul>
            <a href="/login"
               class="link-light link-opacity-50-hover link-underline-opacity-50-hover link-underline-opacity-0">Login</a>
            <a href="/register" type="button" class="btn btn-warning ms-3">Sign Up</a>
        </div>
    </div>
</nav>
<div class="container py-2">
    <div class="row mt-3">
        <div class="col-12 text-center mb-2">
            <h1>Recommended Tools</h1>
        </div>
        <div class="col-6 offset-3">
            <div class="card bg-body-secondary shadow-sm">
                <div class="card-body">
                    <h4>Link Shield</h4>
                    <p><a href="https://linkshieldapi.com/"
                          class="link-warning link-opacity-75-hover link-underline-opacity-75-hover link-underline-opacity-0">Link
                        Shield</a> is an API platform that leverages the power of AI to detect malicious URLs and
                        protect your online security.</p>
                    <h4>Screenshot Website</h4>
                    <p><a href="/tools/screenshot-website"
                          class="link-warning link-opacity-75-hover link-underline-opacity-75-hover link-underline-opacity-0">Screenshot
                        Website</a> is an easy way to capture a screenshot of a full webpage of any URL.</p>
                    <h4>Link Unshortener</h4>
                    <p><a href="https://linkunshorten.com/"
                          class="link-warning link-opacity-75-hover link-underline-opacity-75-hover link-underline-opacity-0">URL
                        Unshortener</a> works with any short URL shortening services, such as T.LY. Expand short links
                        giving you a clear picture of where the link is ultimately sending you.</p>
                    <h4>URL Decoder</h4>
                    <p><a href="#"
                          class="link-warning link-opacity-75-hover link-underline-opacity-75-hover link-underline-opacity-0">URL
                        Decoder</a> is a tool to easily decode encoded string.</p>
                    <h4>MD5 Hash Generator</h4>
                    <p><a href="#"
                          class="link-warning link-opacity-75-hover link-underline-opacity-75-hover link-underline-opacity-0">MD5
                        Hash Generator</a> - Create MD5 hashes from any string using this simple tool.</p>
                    <h4>UTM URL Builder</h4>
                    <p><a href="#"
                          class="link-warning link-opacity-75-hover link-underline-opacity-75-hover link-underline-opacity-0">UTM
                        URL Builder</a> allows you to easily add campaign parameters to URLs so you can measure Custom
                        Campaigns in Google Analytics.</p>
                    <h4>Weather Extension</h4>
                    <p><a href="https://weatherextension.com/"
                          class="link-warning link-opacity-75-hover link-underline-opacity-75-hover link-underline-opacity-0">Weather
                        Extension</a> is the best way to check the forecast right in your browser! Weather automatically
                        locates and displays your current weather forecast, hourly and 7-day forecast. The app icon will
                        automatically update to your current temperature.</p>
                    <h4>Link Expander</h4>
                    <p><a href="#"
                          class="link-warning link-opacity-75-hover link-underline-opacity-75-hover link-underline-opacity-0">Link
                        Expander</a> is a tool to show the user the final redirect of any URL. This is especially
                        important if the link you are clicking on is not from a reliable source.</p>
                    <h4>IP Address</h4>
                    <p><a href="#"
                          class="link-warning link-opacity-75-hover link-underline-opacity-75-hover link-underline-opacity-0">What
                        is My Ip Address</a> is a tool to show you what your current IP address is. See your IP Address
                        city, state, and country.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer bg-dark py-4 mt-4">
    <div class="container">
        <div class="row">
            <div class="col-4 text-light">
                <h4>Features</h4>
                <ul class="list-unstyled mb-0">
                    <li class="pb-2"><a href="https://t.ly/extension"
                                        class="link-light link-underline-opacity-75-hover link-underline-opacity-0">Extension</a>
                    </li>
                    <li class="pb-2"><a href="#"
                                        class="link-light link-underline-opacity-75-hover link-underline-opacity-0">API
                        Docs</a></li>
                    <li class="pb-2"><a href="#"
                                        class="link-light link-underline-opacity-75-hover link-underline-opacity-0">OR
                        Code Generator</a></li>
                    <li class="pb-2"><a href="/tools"
                                        class="link-light link-underline-opacity-75-hover link-underline-opacity-0">Tools</a>
                    </li>
                    <li class="pb-2"><a href="/register"
                                        class="link-light link-underline-opacity-75-hover link-underline-opacity-0">Sign
                        Up</a></li>
                </ul>
            </div>
            <div class="col-4 text-light">
                <h4>Resources</h4>
                <ul class="list-unstyled mb-0">
                    <li class="pb-2"><a href="mailto:support@t.ly?Subject=Report%20Link"
                                        class="link-light link-underline-opacity-75-hover link-underline-opacity-0">Report
                        Link</a></li>
                    <li class="pb-2"><a href="/faq"
                                        class="link-light link-underline-opacity-75-hover link-underline-opacity-0">FAQ</a>
                    </li>
                    <li class="pb-2"><a href="/affiliates"
                                        class="link-light link-underline-opacity-75-hover link-underline-opacity-0">Affiliates</a>
                    </li>
                    <li class="pb-2"><a href="/privacy"
                                        class="link-light link-underline-opacity-75-hover link-underline-opacity-0">Privacy</a>
                    </li>
                    <li class="pb-2"><a href="/terms"
                                        class="link-light link-underline-opacity-75-hover link-underline-opacity-0">Terms</a>
                    </li>
                </ul>
            </div>
            <div class="col-4 text-light">
                <h4>Company</h4>
                <ul class="list-unstyled mb-0">
                    <li class="pb-2"><a href="/about"
                                        class="link-light link-underline-opacity-75-hover link-underline-opacity-0">About</a>
                    </li>
                    <li class="pb-2"><a href="/blog"
                                        class="link-light link-underline-opacity-75-hover link-underline-opacity-0">Blog</a>
                    </li>
                    <li class="pb-2"><a href="/contact"
                                        class="link-light link-underline-opacity-75-hover link-underline-opacity-0">Contact</a>
                    </li>
                    <li class="pb-2"><a href="https://t.ly/twitter"
                                        class="link-light link-underline-opacity-75-hover link-underline-opacity-0">Twitter</a>
                    </li>
                    <li class="pb-2"><a href="https://t.ly/facebook"
                                        class="link-light link-underline-opacity-75-hover link-underline-opacity-0">Facebook</a>
                    </li>
                    <li class="pb-2"><a href="https://t.ly/linkedin"
                                        class="link-light link-underline-opacity-75-hover link-underline-opacity-0">LinkedIn</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<script src="https://kit.fontawesome.com/f3d396c665.js" crossorigin="anonymous"></script>
</body>
</html>